//COLORS
$fondo: #151A29;
$azulOscuro: #0B0314;
$blanco: #fff;
$negro: #000;
$grisOcuro: #333;
$grisClaro: #bbb;
$rosa: #ff0099;
$rosaOscuro: #C72E6E;
$rosaClaro: #FFEAF7;
$verde: #60A78C;
$verdeOscuro: #052424;
$verdeClaro: #F4FFE8;





//END COLORS

$font: "https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900" !default;
$font2: "https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700";
$fbody:"Roboto Slab", serif;
$ftitle:"Outfit", sans-serif;
$base:10px;
$rem:1;
$baseEspacios:20;
$sombra:0 0 $base rgba($negro, 0.1);

